/* Mobile Display */

.flex-container {
    display: flex;           
    flex-direction: column;
}
html {
    border: 5px solid lavender;
    height: 98.6%;
}

body {
    background-color: #ccccff;
    font-family: 'Lato', sans-serif;
}

.logo {
    font-weight: 900;
    font-style: italic;
    font-size: 18px;
    width: 40%;
    color: #000;
    padding-top: 10px;
}

img {
    display: none;
}


.links {
    display: flex;            
    flex-direction: column;
 }

 a {
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    color: #000;
    padding: 5px;
    padding-top: 0px;
    margin-top: 10px;
}

button { 
    font-weight: 400;
    font-size: 20px;
    width: 100%; 
    color: #f9fafc;
    background-color: #000; 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    border-radius: 8px;
} 

.sign_up {
    font-weight: 700;
    font-size: 26px;
    text-align: center;
    color: #000;
    margin-top: 50px;
}

.please_contact {
    font-weight: 600;
    font-style: italic;
    font-size: 16px;
    text-align: center;
    width: 90%;        
    color: #69696a;
    padding-top: 5px;
    padding-bottom: 8px;
    padding-left: 10px;
}

input {
    font-weight: 500;
    color: #000;
    font-size: 13px;
    background-color: rgb(249, 251, 252);
    width:94%;
    padding: 10px;
    padding-top: 10px;
    margin-top: 10px;
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
}


/* Desktop Display */

@media only screen and (min-width: 480px) {
.flexcontainer {
    display: flex;          
    flex-direction: row;
    }

html {
    border: 5px solid lavender;
    height: 98.6%;
}
body {
    background-color: #ccccff;
    font-family: 'Lato', sans-serif;   
}

section {
    background-color: lavender;
    box-shadow: 10px 10px 5px rgb(186, 186, 212);
    padding: 100px;
    width: 800px;
    height: -30px;
    margin-left: 190px;
    border-radius: 100%;
  
}

.logo {
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
    color: #000;
    padding-top: 10px;
    padding-left: 10px;
}

img {
    display: flex;          
    flex-direction: row;
    margin-left: 82%;
    margin-top: -70px;
}

.links {
    display: flex;         
    flex-direction: row;
    margin-left: 69%;
    padding-bottom: 30px;
}

a {
    display: flex;          
    flex-direction: row;
    font-style: italic;
    font-weight: 900;
    font-size: 20px;
    color: #000;
    margin-right: 50px;
    text-decoration: none;
}

.sign_up {
    font-weight: 900;
    font-size: 30px;
    width: 88%;
    color: #000;
    margin-top: -10px;
    margin-left: 7%;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.please_contact {
    font-weight: 900;
    font-size: 16px;
    width: 90%;         
    color: #69696a;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-top: 0px;
    margin-top: 0px;
    margin-left: 4%; 
}

button {
    font-weight: 400;
    font-size: 20px;
    width: 20%;
    color: #f9fafc;
    background-color: #000;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 8px;
    margin-left: 40%;
}

input {
    width: 30%;
    font-weight: 700;
    font-size: 16px;
    background-color: rgb(249, 251, 252);
    padding: -10px;
    padding-top: -30px;
    margin-left: 12%;
}

[placeholder]:focus::-webkit-input-placeholder {
    color: transparent;
}
}